.form {
  display: flex;
  flex-direction: column;
}

.inputWrap {
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  width: 100%;
}

.inputLabel {
  margin-right: 40px;

  font-weight: 700;
  font-size: 22px;
}

.input {
  padding: 10px;

  flex-grow: 2;

  border-radius: 10px;
  font-size: 18px;
}